@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg: #ffffff;
	--text: #171717;
	--glass: rgba( 255, 255, 255, 0.2 );
	--primary: rgba( 48, 92, 222, 0.9 );
	--error: rgba( 255, 0, 0, 0.5 );
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #0a0a0a;
		--text: #ededed;
	}
}

* {
	transition: all 0.25s ease;
	box-sizing: border-box;
}

body {
	color: var(--text);
	background: var(--bg);
	font-family: Arial, Helvetica, sans-serif;
	padding: 0.5rem;
}

.header {
	border-bottom: 1px solid var(--glass);
}

button {
	padding: 0.5rem;
	background-color: var(--glass);
	border: 1px solid var(--glass);
	white-space: nowrap;
}
button:hover {
	background-color: var(--primary);
}

input {
	padding: 0.5rem 0.75rem;
	background: transparent;
	outline: none;
	margin: none;
}

/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--glass);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--glass);
	cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--primary);
}