.list {
	border: 1px solid var(--glass);
	min-width: 22rem;
	max-width: 20rem;
	min-height: 10rem;
	height: min-content;

	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	gap: 0.5rem;
}

.list-header {
	border-bottom: 1px solid var(--glass);
	padding-bottom: 0.5rem;
}

.add-task-btn {
	text-wrap: nowrap;
}